/mplab/build/
/mplab/dist/
/mplab/UART.X/dist/
/mplab/UART.X/build/
/mplab/uart/echo.X/build/
/mplab/uart/echo.X/dist/
/mplab/adc.X/build/
/mplab/adc.X/dist/
/mplab/timer/blink.X/build/
/mplab/timer/blink.X/dist/
/mplab/timer/icm.X/dist/
/mplab/timer/icm.X/build/
/mplab/timer/icm_ultrasonic_sensor.X/dist/
/mplab/timer/icm_ultrasonic_sensor.X/build/
/mplab/timer/output_compare_match.X/dist/
/mplab/timer/output_compare_match.X/build/
/mplab/pwm/variable_brightness_led.X/build/
/mplab/pwm/variable_brightness_led.X/dist/
/mplab/pwm/stepper_motor.X/dist/
/mplab/pwm/stepper_motor.X/build/
/mplab/timer/ocm.X/build/
/mplab/timer/ocm.X/dist/