/mplab/build/
/mplab/dist/
/mplab/UART.X/dist/
/mplab/UART.X/build/
/mplab/uart/echo.X/build/
/mplab/uart/echo.X/dist/
/mplab/adc.X/build/
/mplab/adc.X/dist/
/mplab/timer/blink.X/build/
/mplab/timer/blink.X/dist/